*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* background-color: #F4F9FF; */

  }
  ::-webkit-scrollbar {
    width: 2px !important;
    height: 5px !important;
  }



 ::-webkit-scrollbar-thumb{
    background-color:#b5b1b1;
 }



/* .bg {
    width: 100%;
    height: auto;
    background-color: #F4F9FF;
    font-size: 0.23rem;
}
.common-mask {
  width: 100%;
height: 100%;
position: fixed;
left: 0;
top: 0;
background-color: rgba(0, 0, 0, 0.49);
display: flex;
justify-content: center;
overflow: hidden;
z-index: 999;
}
.bgss {
  width: 100%;
  min-height: 11.85rem;
  background-image: url("../remotetender/bg@2x.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0.83rem 1.8rem 1.5rem;
  background-color: #f4f9ff !important;
  position: relative;
} */